<div class="container mt-5">
    <!-- inicio -->
    <div class="row">
        <div class="col">
            <h2>{{ titulo }}</h2>
        </div>
        <div class="col">
            <div class="">
                <button type="button " class="btn btn-light" (click)="VoltarPagina()">Voltar</button>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <div class="">
                        <button type="button" class="btn btn-primary" (click)="InserirEventosDialog()">Inserir
                            </button>
                    </div>
                </div>
                <!-- <div class="col">
                    <div class="">
                        <button type="button" class="btn btn-danger" (click)="ExcluirEventosDialog()">Excluir
                            </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div>
        <!-- tabela -->
        <mat-form-field class="row" appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
        </mat-form-field>

        <div class="row mat-elevation-z8">
            <table mat-table [dataSource]="listaEventos" matSort>
                <!-- ID Column -->
                <ng-container class="col-2 "  matColumnDef="id">
                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let row">{{ row.id }}</td>
                </ng-container>
                <ng-container matColumnDef="evento">
                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Evento
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let row">{{ ObtemNomeDoEvento(row.iD_TIPO_EVENTO) }}</td>
                </ng-container>
                <ng-container matColumnDef="dataEvento">
                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let row">{{ row.diA_INICIO }}</td>
                </ng-container>
                <ng-container matColumnDef="diaSemana">
                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Dia da Semana
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let row">{{ ObtemDiaDaSemana(row.iD_TIPO_SEMANA) }}</td>
                </ng-container>
                <ng-container matColumnDef="horaInicio">
                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Hora Inicio
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let row">{{ row.horA_INICIO }}</td>
                </ng-container>
                <ng-container matColumnDef="horaFim">
                    <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Hora Fim
                    </th>
                    <td class="text-center" mat-cell *matCellDef="let row">{{ row.horA_FIM }}</td>
                </ng-container>
                <ng-container matColumnDef="Gerenciar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gerenciar</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="row ">
                            <!-- <div class="col">
                                <div class="">
                                    <button type="button" class="btn btn-warning"
                                        (click)="AlterarEventosDialog(row.id)">Alterar<br>Evento</button>
                                </div>
                            </div> -->
                            <div class="col">
                                <div class="">
                                    <button type="button" class="btn btn-danger"
                                        (click)="ExcluirEventosDialog(row.id)">Excluir<br>Evento</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">
                        No data matching the filter "{{ input.value }}"
                    </td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[50, 100, 250, 500, 1000]"
                aria-label="Selecionado pagina de lista Eventos"></mat-paginator>
        </div>
    </div>
</div>