<div class="container mt-5">
    <!-- inicio -->
    <div class="row">
        <div class="col">
            <h2>{{ titulo }}</h2>
        </div>
        <div class="col">
            <div class="">
                <button type="button " class="btn btn-light" (click)="VoltarPagina()">Voltar</button>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <div class="">
                        <button type="button" class="btn btn-primary" (click)="InserirTiposEventosDialog()">Inserir
                            Tipos</button>
                    </div>
                </div>
                <!-- <div class="col">
                    <div class="">
                        <button type="button" class="btn btn-danger" (click)="ExcluirTiposEventosDialog()">Excluir
                            Tipos</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div>
        <!-- tabela -->
        <mat-form-field class="row" appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
        </mat-form-field>

        <div class="row mat-elevation-z8">
            <table mat-table [dataSource]="listaTipoEventos" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                </ng-container>

                <ng-container matColumnDef="nomeEvento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome Evento</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.nome }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status Evento</th>
                    <td mat-cell *matCellDef="let row">{{ row.status }} </td>
                </ng-container>

                <ng-container matColumnDef="Gerenciar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gerenciar</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="row ">
                            <div class="col">
                                <div class="">
                                    <button type="button" class="btn btn-danger"
                                        (click)="ExcluirTiposEventosDialog(row.id)">Excluir<br>TiposEventos</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">
                        No data matching the filter "{{ input.value }}"
                    </td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[50, 100, 250, 500, 1000]"
                aria-label="Selecionado pagina de lista TiposEventos"></mat-paginator>
        </div>
    </div>
</div>