<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Eventos
        </a>
        <div class="dropdown-menu">
          <li><a class="dropdown-item" href="/eventos-publicos/lista-evento">Listar Eventos</a></li>
          <li><a class="dropdown-item" href="/eventos-publicos/gerenciar-evento">Gerenciar Eventos</a></li>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Ideias
        </a>
        


        <div class="dropdown-menu">
          <li><a class="dropdown-item" href="/banco-ideias/listar-ideias">Listar ideias</a></li>
          <li><a class="dropdown-item" href="/banco-ideias/escrever-ideias">Escrever Sugestão</a></li>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
