nav{
    background-color: #728C58;
    a{
        text-decoration: none;
        color: white;
    }
    div{
        background-color: #728C58;
        ul{
            li{
                :hover{
                    color: #a9d879;
                }
            }
        }
    }
    div{
            li{
                :hover{
                    background-color: #728C58;
                }
            }
    }
}
ul{
    li{
        a{
            text-decoration: none;
            color: white;
        }
    }
}


