
<footer class="rodape text-white  mt-5 padding-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Links úteis</h1>
          <ul class="list-unstyled">
            <li><a href="/">Página inicial</a></li>
            <li><a href="informacoes-gerais/sobre-nos">Sobre nós</a></li>
            <li><a href="informacoes-gerais/contate-nos">Contato</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1>Redes sociais</h1>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/AMBEVI/?locale=pt_BR"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <!-- <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li> -->
          </ul>
        </div>
        <div class="col-md-4">
          <h1>Contato</h1>
          <ul class="list-unstyled">
            <li><i class="fas fa-map-marker-alt"></i> Endereço: R. Adriano Kormann, 500 - Bela Vista, Gaspar - SC, 89111-009</li>
            <li><i class="fas fa-phone"></i> Telefone: (47) 99201-6909</li>
            <!-- <li><i class="fas fa-envelope"></i> Email: contato@exemplo.com.br</li> -->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  